@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  color: black;
  background: white;
  height: 100%;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

input[type='number'] {
  -moz-appearance:textfield;
  
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .carousel {
    @apply relative sm:px-10 py-5 sm:pt-20 pb-5 max-w-[560px] h-[700px] w-full bg-[#F2F4F7] rounded-[30px] sm:mx-auto;
  }

  .button_main {
    @apply bg-main text-white font-semibold;
  }

  .button_secondary {
    @apply bg-transparent font-semibold text-gray-400 border-gray-300 border-1
  }

  .button_update {
    @apply bg-transparent font-semibold text-blue-950 border-blue-900 border-1
  }

  .error_message {
    @apply text-red-500 text-sm font-semibold
  }

  .signup_title {
    @apply text-left text-2xl font-bold;
  }

  .button_danger {
    @apply text-red-500 font-semibold bg-red-100 border-red-500 border-1
  }

  .button_delivery_mod {
    @apply bg-transparent text-blue-800 font-semibold hover:bg-gray-200
  }

  .section_sider {
    @apply flex flex-col gap-2
  }

  .description_subtitle {
    @apply font-semibold mt-4 mb-3
  }


}

@layer base {
  .section_title {
    @apply text-base font-semibold;
  }
}

@layer components {
  .nav_item:hover::after {
    content: '';
    @apply bg-orange-500 h-1 w-full absolute bottom-0 left-0 mt-1 opacity-100;
  }

  .nav_item::after {
    transition: all 200ms linear;
  }

  .nav_item::after {
    content: '';
    @apply bg-orange-500 h-1 w-0 absolute bottom-0 left-0 mt-1 opacity-0;
  }

  .cat_item:hover::after {
    @apply bg-black h-0.5;
  }

  .cat_item::after {
    @apply bg-black h-0.5;
  }

 
}
